<div class="container-fluid">
  <div class="row editor-row">
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">HTML</span>
      <div class="editor" id="html"></div>
    </div>
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">CSS</span>
      <div class="editor" id="css"></div>
    </div>
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">Javascript</span>
      <div class="editor" id="javascript"></div>
    </div>
  </div>
  
  <div class="row view-row">
    <div class="col-md-12">
      <iframe id="targetCode"></iframe> 
    </div>
  </div>
  <button type="button" id="loadModal" class="btn btn-primary btn-lg" 
          data-toggle="modal" data-target="#myModal">
    Open in Resizable Window
  </button>
  <button class="btn btn-warning btn-lg" id="solution">
    Show Solution
  </button>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Resizable Preview</h4>
      </div>
      <div class="modal-body">
        <div id="resizable">
           <iframe id="modalIframe"></iframe> 
        </div>
      </div>
    </div>
  </div>
</div>

