<div class="container-fluid">
  <div class="row editor-row">
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">HTML</span>
      <div class="editor" id="html"></div>
    </div>
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">CSS</span>
      <div class="editor" id="sass"></div>
    </div>
    <div class="col-md-4">
      <span class="label label-default col-lg-12 fancy-bar">Javascript</span>
      <div class="editor" id="javascript"></div>
    </div>
  </div>
  
  
  <div class="row view-row">
    <div class="col-md-12">
      <iframe id="targetCode"></iframe> 
    </div>
  </div>
</div>
