<table>
  <tr>
    <td> 
      <strong>HTML</strong>
      <div class="editor" id="html"></div>
    </td>
    <td> 
      <strong>CSS</strong>
      <div class="editor" id="sass"></div>
    </td>
    <td> 
      <strong>JS</strong>
      <div class="editor" id="javascript"></div>
    </td>
  </tr>
  <tr>
     <td>
      <strong>Output</strong>
      <iframe id="targetCode" width="100%"></iframe>
    </td>
  </tr>
</table>  
