<div id="content">
  <fieldset class="column left">
    <legend>HTML</legend>
        <div class="editor" id="html"></div>
  </fieldset>
  <fieldset class="column right">
    <legend>CSS</legend>
        <div class="editor" id="sass"></div>
  </fieldset>
  <fieldset>
    <legend>JAVASCRIPT</legend>
        <div class="editor" id="javascript"></div>
  </fieldset>
  <fieldset>
    <legend>View</legend>
        <iframe id="targetCode" width="100%"></iframe>
  </fieldset>
</div>