<header class="business-header">
  <div class="container">
    <div class="col-lg-12">
      <h1 class="tagline">Web Dev Nuggets</h1>
      <p class="lead">Come develop your <code>&lt;/code&gt;</code> skills with our FREE interactive lessons.</p>
    </div>    
  </div>
</header>

<% content_for :index do %>
  <%= render "/lessons/index" %>"
<% end %>
    