<!-- Image Background Page Header -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Web Dev Nuggets</h1>
                <p class="lead">Come develope your <code>&lt;/code&gt;</code> skills with our FREE interactive lessons.</p>
                <p class="lead construction">Our App is currently under construction.  Check back with us soon.</p>
            </div>
        </div>
    </div>
</header>