<% content_for :about do %>
  <div class="container-fluid">
    <div class="container about-container">
      <p> This website is meant for anyone who has learnt the basics of html, 
          css, and javascript and are looking for ways to improve upon their skills and 
          build practical features to implement in their own websites.</p>
          Features of this website
      <ul>
        <li>
          Live preview of html, css, and javascript compiled into an iframe
        </li>
        <li>
          Resizable modal to see a preview at all resolutions
        </li>
        <li>
          Steps cycle through with ajax, not interrupting your code
        </li>
        <li>
          Solution button to input code up to the end of the current step
        </li>
        <li>
          Live preview for the final product under each lesson link
        </li>
      </ul>
      <p>
        This website was created by <a href="https://github.com/Exellin">Shawn Carnegie</a> 
        and <a href="https://github.com/wade0727">Matt</a>.
      </p>
      <p>
        This website was made with Ruby on Rails and is open source.  The github repository 
        can be found <a href="https://github.com/RoR-Strangers/webdevnuggets">here</a>.
      </p>
    </div>
  </div>
<% end %>