<% content_for :index do %>
<section class="Lessons">
    <div class="container">
        <div class="header">
            <h1>Lessons
                <small>more coming soon!</small>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="lessons-container">

            <% @lessons.each do |lesson| %>
            <div class="cards">
                <h3 class="cards-content">
                    <% title = lesson.title.tr(' ', '-') %>
                    <%= link_to lesson.title, lesson_path(title) %>
                </h3>
                <div class="cards-content">
                    <% if current_user.try(:admin?) %>
                    <%= link_to "edit", edit_lesson_path(lesson), class: "btn btn-xs btn-primary" %>
                    <%= link_to "delete", lesson_path(lesson), method: :delete,
                                            data: { confirm: "Are you sure you want to delete?" },
                                            class: "btn btn-xs btn-danger" %>
                    <% end %>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</section>
<% end %>