<h4><%= @lesson.title %></h4>

<div class="row">
  <div class="col-md-2">
    <% @lesson.steps.each do |step| %>
      <div class="row inject">
        <%= link_to "#{step.title}", step_path(step), class: 'btn btn-primary', remote: true%>
      </div>
    <% end %>
  </div>

  <div class="col-md-2">
    <div id="step-results"></div>
  </div>
  
  <div class="col-md-8">
    <%= render '/shared/editor' %>
  </div>
</div>
