<h3><%= @step.title %></h3>
<%= @step.instruction %>

<%= content_tag "div", id: "insert", data: {html: @step.html,
                                            css: @step.css,
                                            javascript: @step.javascript} do %>
<% end %>
