body, html {
  margin: 0;
  overflow: hidden;
  padding-top: 25px; 
}

/*SWEET NAV*/
.navbar-default {
  background-color: #333333;
  border-color: #333333;
}
.navbar-default .navbar-brand {
  color: #FF6200;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e67e22;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #d35400;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-toggle {
  border-color: #d35400;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d35400;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffe6d1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffe6d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
  }
}


/*ace editors*/

iframe {
  border: 2px solid #ddd;
  height: 400px;
  text-align: center;
  width: 1230px;
}

.editor {
    border: 2px solid #ddd;
    height: 400px;
    width: 400px;
}

.view-row {
    margin-top: 10px;
}

.fancy-bar {
  border: solid;
  overflow: hidden;
  width: 400px;
}


/*Scrollable content*/
.scroll {
  text-align: center;
  height: 800px;
  overflow-y: scroll; }

/*tabs*/
.panes div {
  display: none;
  padding: 15px 10px;
  border-top: 1px solid #999;
  height: 500px;
  font-size: 14px;
  background-color: #fff; }

ul.tabs {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  height: 30px; }

ul.tabs li {
  float: left;
  text-indent: 0;
  padding: 0;
  margin: 0 !important; }

ul.tabs a {
  font-size: 11px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 134px;
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 1px; }

ul.tabs a:active {
  outline: none; }

ul.tabs a:hover {
  color: red; }

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
  font-size: 14px;
  cursor: default !important;
  color: #000 !important; }

.panes .pane {
  display: none; }

#pane2 {
  position: absolute;
  top: 80px;
  bottom: 10px;
  left: 80px;
  right: 10px; }

/* Homepage styling */

.business-header {
  height: 400px;
  
	background: linear-gradient(270deg, #f2b02b, #e14e17, #333333);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}
	
    
  @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
    margin-top: 85px;
    margin-left: 55px;
}

.img-center {
    margin: 0 auto;
}

.lead {
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 30px;
  margin-left: 75px;
}

.construction {
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 30px;
  margin-left: 95px;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.home-section {
  position: relative;
  margin: 0 0 100px 0;
  background: #333333;
}


/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }

/*# sourceMappingURL=custom.css.css.map */

