body, html {
  margin: 0;
}

.edit_step {
  padding-top: 50px;
}

.container-fluid {
  position: relative;
  top: 50px;
}

.about-container {
  font-size: 1.5em;
}

.site-body {
  overflow: hidden;
  background-color: #F1F1F1;
}

.editor-body {
  overflow: hidden;
}

.modal-body {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.modal-content {
  display: table;
}

#resizable {
  width: 1280px;
  height: 720px;
}

#modalIframe {
  height: 100%;
  border: none;
}

/*ace editors*/
iframe {
  border: 2px solid #ddd;
  height: 400px;
  text-align: center;
  width: 100%;
}

.editor {
  border: 2px solid #ddd;
  height: 400px;
  width: 100%;
}

.view-row {
  margin-top: 10px;
}

.fancy-bar {
  border: solid;
  overflow: hidden;
  width: 100%;
}


/*Scrollable content*/
.scrollable {
  text-align: left;
  height: 90vh;
  overflow-y: scroll;
}

#cool-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#cool-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#cool-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
                    											  transparent 25%,
                    											  transparent 50%,
                    											  rgba(255, 255, 255, .2) 50%,
                    											  rgba(255, 255, 255, .2) 75%,
                    											  transparent 75%,
                    											  transparent)
}


/* Homepage styling */
.business-header {
  height: 300px;
	background: linear-gradient(270deg, #f2b02b, #e14e17, #333333);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}
	
@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes Gradient { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 85px;
  margin-left: 55px;
}

.img-center {
  margin: 0 auto;
}

.lead {
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 30px;
  margin-left: 75px;
}

.construction {
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 30px;
  margin-left: 95px;
}

.content-wrap {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  padding: 0 15px;
  background-color: #333333;
  color: #f3f3f3;
}

.header {
  border-bottom: 8px solid #FF6C00;
  margin-top: 75px;
  font-family: "Arial Black", Gadget, sans-serif;
  line-height: 1.1;
  font-size: 2.0em;
}

.container-editor {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
}

.title-header {
  border-bottom: 5px solid #ff6c00;
  margin-bottom: 25px;
}

.cards {
  width: 100%;
  background-color: #eee;
  margin-top: 1.5em;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  text-transform: capitalize;
}

.cards > h3 {
  margin: 0;
}

.lesson-preview {
  height: 300px;
}


/*footer*/
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333333; }
