<section class="navigation">
  <div class="nav-toggle-container">
    <a id="nav-toggle"><span></span></a>
  </div>
  <%= link_to "Web Dev Nuggets", root_path, class: "navbar-brand" %>
  <div class="link-container">
    <ul>
      <li>
        <%= link_to lessons_path do %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Go to Lessons
        <% end %>
      </li>
    </ul>
  </div>
</section>